node_modules/
.DS_Store
npm-debug.log
compiled/
dist/
coverage/
.idea
yarn.lock
src/
config/
demo/
.editorconfig
.gitignore
.gitattributes
karma.conf.js
tsconfig.json
tsconfig-aot.json
tslint.json
webpack.config.js