<div class="dropdown open show">

  <!-- Control display -->
  <div tabindex="0"
       [class.disabled]="disabled"
       (click)="toggle($event)"
       (keydown.enter)="toggle($event)"
       [attr.aria-expanded]="isOpen"
       [off-click]="clickedOutside">
    <span class="btn btn-default btn-secondary form-control"
          [class.selected-container-text]="!multiple"
          [class.selected-container-item]="multiple">
      <span *ngIf="selection.length <= 0" class="ui-select-placeholder text-muted">{{placeholder}}</span>
      <span *ngFor="let itm of selection; let idx=index">
        <span *ngIf="moreLoaded || maxVisibleItemCount == 0 || idx<maxVisibleItemCount"
              class="pull-left"
              [class.selected-item-text]="!multiple"
              [class.selected-item-item]="multiple"
              [class.btn]="multiple"
              [class.btn-default]="multiple"
              [class.btn-xs]="multiple">
            <span class="value">
                {{itm.text}}
            </span>
          <button *ngIf="multiple && !disabled"
              class="close btn-icon"
              [off-focus]="'button'"
              (onSelect)="removeItem($event, itm)"
              (click)="removeItem($event, itm)"
              aria-label="Remove">
            <i class="fa fa-close"></i>
          </button>
        </span>
      </span>
    </span>
  </div>
  <div class="enabled">
    <button *ngIf="showMoreLink"
          class="pull-right more-items-icon btn-icon"
          (click)="loadMore($event)"
          (keyup.enter)="loadMore($event)">
      (...)
    </button>
   <button (click)="toggle($event)" class="btn-icon pull-right caret"></button>
  </div>

  <!-- options template -->
  <ul *ngIf="!disabled && isOpen && internalItems && internalItems.length > 0"
      [off-focus]="'dropdown'"
      [off-click]="clickedOutside"
      tabindex="0"
      class="dropdown-menu"
      role="menu"
      (keyup.esc)="toggle($event)">
    <input *ngIf="allowFilter"
           name="filterText"
           type="text"
           [(ngModel)]="filter"
           (click)="setInputFocus()"
           (keyup.enter)="setInputFocus()"
           (blur)="setInputFocusOut()"
           class="form-control"
           placeholder="{{filterPlaceholder}}"
           [ngModelOptions]="{standalone: true}"
           autocomplete="off"
           aria-label="Filter"
    />
    <li *ngFor="let o of internalItems | itemPipe:filter" role="menuitem">
      <tree-select-item [item]="o" [onTouchedCallBack]="onTouchedCallback"></tree-select-item>
    </li>
  </ul>
</div>
