$active-background-color: #428bca;
$hover-background-color: darken($active-background-color, 5);
$text-color: #333;
$active-text-color: #fff;
$hover-text-color: #fff;

.item {
  color: $text-color;
  clear: both;
  display: block;
  font-weight: 400;
  line-height: 1.42857143;
  padding: 3px 10px;
  margin: auto -10px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hover-background-color;
    color: $hover-text-color;
    outline: 0;
    text-decoration: none;
    .btn-icon {
      color: #fff;
    }
  }

  ul {
    list-style-type: none;
  }

  &.active {
    background-color: $active-background-color;
    color: $active-text-color;
    outline: 0;
    text-decoration: none;
  }

  .btn-icon {
    padding: 0;
    background: none;
    box-shadow: none;
    border: none;
  }
}
