.header {
  background-color: #0143A3;
  background: -webkit-linear-gradient(#0143A3, #0273D4);
  background: linear-gradient(#0143A3, #0273D4);
  color: #FFF;
  padding: 30px;
}

section {
  padding-top: 30px;
}
