<div class="ui-select-choices-row"
     [ngClass]="{'ui-select-choices-row-children': needCheckBox}"
     [class.active]="item.selected"
     (click)="select($event)">
    <a href="javascript:void(0)" class="dropdown-item" (click)="toggleOpen($event)">
        <div>
            <input type="checkbox" 
                   style="margin-right:5px" 
                   *ngIf="needCheckBox" 
                   [checked]="item.selected" 
                   (click)="select($event)"/>{{item.text}}
        </div>
    </a>
    <ul *ngIf="haveChildren && isOpen"
        class="ui-select-choices"
        role="menu">
        <li *ngFor="let o of item.children" role="menuitem">
            <cra-select-item [item]="o" (selected)="itemSelected()"></cra-select-item>
        </li>
    </ul>
</div>

