<div class="ui-select-choices-row"
     [ngClass]="{'ui-select-choices-row-children': needCheckBox}"
     [class.active]="item.selected"
     (click)="select($event)">
    <a href="javascript:void(0)" class="dropdown-item" (click)="toggleOpen($event)">
        <div>
            <span>
                <i class="fa" [class.fa-plus-square-o]="haveChildren && !isOpen" [class.fa-minus-square-o]="haveChildren && isOpen">
                    <i *ngIf="haveChildren && !isOpen">+</i>
                    <i *ngIf="haveChildren && isOpen">-</i>
                </i>
            </span>
            <input type="checkbox" 
                   style="margin-right:5px" 
                   *ngIf="needCheckBox" 
                   [checked]="item.selected" 
                   (click)="select($event)"/>
            <i class="fa" *ngIf="needCheckBox" [class.fa-check-square-o]="item.selected" [class.fa-square-o]="!item.selected" (click)="select($event)">
                <i *ngIf="item.selected">deselect</i>
                <i *ngIf="!item.selected">select</i>
            </i>
            {{item.text}}
        </div>
    </a>
    <ul *ngIf="haveChildren && isOpen"
        class="ui-select-choices"
        role="menu">
        <li *ngFor="let o of item.children" role="menuitem">
            <cra-select-item [item]="o" (selected)="itemSelected()" [onTouchedCallBack]="onTouchedCallBack"></cra-select-item>
        </li>
    </ul>
</div>

