.ui-select-toggle {
    position: relative;
  }

  /* Fix Bootstrap dropdown position when inside a input-group */
  .input-group > .dropdown {
    /* Instead of relative */
    position: static;
  }

  .ui-select-match > .btn {
    /* Instead of center because of .btn */
    text-align: left !important;
  }

  .ui-select-match > .caret {
    position: absolute;
    top: 45%;
    right: 15px;
  }

  .ui-disabled {
    background-color: #eceeef;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.6;
    top: 0;
    left: 0;
    cursor: not-allowed;
  }

  .ui-select-choices {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: 0;
    list-style-type: none !important;
    width: 100%;
  }

  .ui-select-multiple .ui-select-choices {
    margin-top: 1px;
  }
  .ui-select-choices-row>a {
      display: block;
      padding: 3px 20px;
      padding-left: 10px !important;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
  }
  .ui-select-choices-row > a:hover, .ui-select-choices-row.active {
      background-color: #428bca;
      color: #fff;
      outline: 0;
      text-decoration: none;
  }

  .ui-select-choices-row.active > a.dropdown-item{
      color: #fff;
      text-decoration: none;
  }

  .ui-select-choices-row-children.active, .ui-select-choices-row-children .ui-select-choices-row.active{
    background-color: #fff !important;
  }

  .ui-select-choices-row-children.active > a.dropdown-item, .ui-select-choices-row-children .ui-select-choices-row.active> a.dropdown-item{
    color: #333;
  }

   .ui-select-choices-row-children.active > a.dropdown-item:hover, .ui-select-choices-row-children .ui-select-choices-row.active> a.dropdown-item:hover{
    color: #fff;
  }

  .ui-select-multiple {
    height: auto;
    padding:3px 3px 0 3px;
  }

  .ui-select-multiple input.ui-select-search {
    background-color: transparent !important; /* To prevent double background when disabled */
    border: none;
    outline: none;
    box-shadow: none;
    height: 1.6666em;
    padding: 0;
    margin-bottom: 3px;

  }

  .ui-select-match-text{
    margin: 3px !important;
  }

  .ui-select-match-item {
    font-size: 14px !important;
    margin: 2px !important;
  }

  .ui-select-match .close {
      font-size: 18px;
      line-height: 0.75;
      margin-left: 5px !important;
      padding-top: 3px !important;
      position: absolute !important;
  }

  .ui-select-multiple .ui-select-match-item {
    outline: 0;
    margin: 0 3px 3px 0;
  }
  .ui-select-toggle > .caret {
      position: absolute;
      height: 10px;
      top: 50%;
      right: 10px;
      margin-top: -2px;
  }

.ui-select-container.direction-up .ui-select-dropdown {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}

.ui-select-match .btn{
  display: table !important;
  padding-right: 20px !important;
}

.ui-select-toggle-text{
  padding-left: 10px !important;
}

.ui-select-toggle-item{
  padding-left: 5px !important;
}